<div
  class="flex w-full gap-{{ block.settings.gap }} pt-{{ block.settings.padding_top }} pb-{{ block.settings.padding_bottom }} justify-{{ block.settings.position }}"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Icons Row",
  "blocks": [{ "type": "icon" }],
  "settings": [
    {
      "type": "select",
      "id": "gap",
      "label": "Gap",
      "options": [
        { "value": "0", "label": "None" },
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "10", "label": "10" }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        { "value": "start", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Top padding",
      "options": [
        { "value": "0", "label": "None" },
        { "value": "4", "label": "Small" },
        { "value": "8", "label": "Medium" },
        { "value": "12", "label": "Large" },
        { "value": "16", "label": "Extra Large" }
      ],
      "default": "0"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "options": [
        { "value": "0", "label": "None" },
        { "value": "4", "label": "Small" },
        { "value": "8", "label": "Medium" },
        { "value": "12", "label": "Large" },
        { "value": "16", "label": "Extra Large" }
      ],
      "default": "0"
    }
  ],
  "presets": [
    {
      "name": "Icons Row"
    }
  ]
}
{% endschema %}
